
* text=auto


*.c text
*.h text
*.s text
*.in text
*.js text
*.md text
*.py text
*.sh text
*.ld text
*.inc text
*.txt text
*.json text
*.yaml text


*.bin binary
*.m64 binary
*.png binary
*.aiff binary