/build/
/build-*/
/builds/
/smash64ds.elf
/smash64ds.nds
/smash64ds.ds.gba
/smash64ds.map
/smash64ds.sym
/smash64ds-*.elf
/smash64ds-*.nds
/smash64ds-*.ds.gba
/smash64ds-*.map
/smash64ds-*.sym
/_*.gdb
/_*.gdb.out
/_*.gdb.err
/decomp/
/melonDS.toml
/melonds.*.log
/rtc.bin
/artifacts/
/emulators/melonds-runners/
/emulators/*
!/emulators/README.md
!/emulators/melonds/
/emulators/melonds/*
!/emulators/melonds/.gitkeep
!/emulators/nogba/
/emulators/nogba/*
!/emulators/nogba/.gitkeep
